//- entend the basic.jade as template
extends ../general/basic

//- override variables from config.jade
append config
  - var pageTitle = "Phrozen"
  - var metaDesc = "index" 

block mainContent
  article#index
    article.view.view-1
      video#bgvid.hide-on-med-and-down(autoplay, loop, poster='polina.jpg')
        source(src='video/newVideo.webm', type='video/webm')
        source(src='video/newVideo.mp4', type='video/mp4')
        source(src='video/newVideo.ogg', type='video/ogg')
      .desc
        hgroup
          h1.tlt
            ul.texts
              li first sentence
              li second sentence
              li third sentence
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, velit?
            br
            | Lorem ipsum dolor sit amet.
            br
            |  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    article(data-sr='reset opacity 0.3').view.view-2
      section.outer-container
        section.item
          figure.item-image-wrapper
            img(src="img/bg2.jpg", alt="")
            figcaption.desc-wrapper
              section.desc
                h4 feature1
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, illo.
        section.item
          figure.item-image-wrapper
            img(src="img/bg4.jpg", alt="")
            figcaption.desc-wrapper
              section.desc
                h4 feature2
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et ea, sit, placeat eos veritatis saepe.
        section.item
          figure.item-image-wrapper
            img(src="img/bg7.jpg", alt="")
            figcaption.desc-wrapper
              section.desc
                h4 feature3
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim velit aliquam, reprehenderit voluptatum iste, facere numquam at veniam adipisci fuga.
    article(data-sr='reset opacity 0.3').view.short-bridge
      section.outer-container
        figure.parallax-container
          .parallax
            img(src="img/bg5.jpg", alt="")
            h1 test
    main(data-sr='reset opacity 0.3').view.view-3
      section.outer-container
        .card.card1
          .front.waves-effect.waves-light
            a.btn-floating.btn-large.waves-effect.waves-light.red.flip-btn
              i.mdi-action-find-in-page
            img(src="img/bg8.jpg", alt="")
          .back.waves-effect.waves-light
            img.back-img(src="img/bg9.jpg", alt="")
            figure.back-desc
              img(src="img/bg4.jpg", alt="")
              figcaption
                h5 itme1
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, animi, dolore. Provident nisi facilis similique.
        .card.card2
          .front.waves-effect.waves-light
            a.btn-floating.btn-large.waves-effect.waves-light.red.flip-btn
              i.mdi-action-find-in-page
            img(src="img/bg8.jpg", alt="")
          .back.waves-effect.waves-light
            img.back-img(src="img/bg9.jpg", alt="")
            figure.back-desc
              img(src="img/bg4.jpg", alt="")
              figcaption
                h5 itme2
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, animi, dolore. Provident nisi facilis similique.
        .card.card3
          .front.waves-effect.waves-light
            a.btn-floating.btn-large.waves-effect.waves-light.red.flip-btn
              i.mdi-action-find-in-page
            img(src="img/bg8.jpg", alt="")
          .back.waves-effect.waves-light
            img.back-img(src="img/bg9.jpg", alt="")
            figure.back-desc
              img(src="img/bg4.jpg", alt="")
              figcaption
                h5 itme3
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, animi, dolore. Provident nisi facilis similique.
        .card.card4
          .front.waves-effect.waves-light
            a.btn-floating.btn-large.waves-effect.waves-light.red.flip-btn
              i.mdi-action-find-in-page
            img(src="img/bg8.jpg", alt="")
          .back.waves-effect.waves-light
            img.back-img(src="img/bg9.jpg", alt="")
            figure.back-desc
              img(src="img/bg4.jpg", alt="")
              figcaption
                h5 itme4
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, animi, dolore. Provident nisi facilis similique.
        .card.card5
          .front.waves-effect.waves-light
            a.btn-floating.btn-large.waves-effect.waves-light.red.flip-btn
              i.mdi-action-find-in-page
            img(src="img/bg8.jpg", alt="")
          .back.waves-effect.waves-light
            img.back-img(src="img/bg9.jpg", alt="")
            figure.back-desc
              img(src="img/bg4.jpg", alt="")
              figcaption
                h5 itme5
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, animi, dolore. Provident nisi facilis similique.
        .card.card6
          .front.waves-effect.waves-light
            a.btn-floating.btn-large.waves-effect.waves-light.red.flip-btn
              i.mdi-action-find-in-page
            img(src="img/bg8.jpg", alt="")
          .back.waves-effect.waves-light
            img.back-img(src="img/bg9.jpg", alt="")
            figure.back-desc
              img(src="img/bg4.jpg", alt="")
              figcaption
                h5 itme6
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, animi, dolore. Provident nisi facilis similique.
    article(data-sr='reset opacity 0.3').view.short-bridge
      section.outer-container
        figure.parallax-container
          .parallax
            img(src="img/bicycle.jpg", alt="")
            h1 interface
    article(data-sr='reset opacity 0.3').view.view-4
      section.outer-container
        figure.parallax-container
          .parallax
            img(src="img/bg7.jpg", alt="")
            .slider-show-wrapper
              .owl-carousel
                #slider-item1.slider-item
                  h1 slider1
                #slider-item2.slider-item
                  h1 slider2
                #slider-item3.slider-item
                  h1 slider3
              .slider-nav-control
                i.fa.fa-chevron-left.fa-3x.waves-effect.waves-light.waves-circle
                i.fa.fa-chevron-right.fa-3x.waves-effect.waves-light.waves-circle
    article(data-sr='reset opacity 0.3').view.short-bridge
      section.outer-container
        figure.parallax-container
          .parallax
            img(src="img/city.jpg", alt="")
            h1 material
    article(data-sr='reset opacity 0.3').view.view-5
      section.outer-container
        img.img-bg(src="img/bg6.jpg", alt="")
        .card-wrapper
          .card
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src="img/bg6.jpg", alt="")
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Card Title
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, reiciendis.
            .card-reveal
              span.card-title.activator.grey-text.text-darken-4 Card Title
                i.material-icons.right close
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod corporis alias expedita quos magnam eius ab rem reprehenderit, voluptatum quibusdam.
          .card
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src="img/bg6.jpg", alt="")
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Card Title
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, reiciendis.
            .card-reveal
              span.card-title.activator.grey-text.text-darken-4 Card Title
                i.material-icons.right close
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod corporis alias expedita quos magnam eius ab rem reprehenderit, voluptatum quibusdam.
          .card
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src="img/bg6.jpg", alt="")
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Card Title
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, reiciendis.
            .card-reveal
              span.card-title.activator.grey-text.text-darken-4 Card Title
                i.material-icons.right close
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod corporis alias expedita quos magnam eius ab rem reprehenderit, voluptatum quibusdam.
          .card
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src="img/bg6.jpg", alt="")
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Card Title
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, reiciendis.
            .card-reveal
              span.card-title.activator.grey-text.text-darken-4 Card Title
                i.material-icons.right close
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod corporis alias expedita quos magnam eius ab rem reprehenderit, voluptatum quibusdam.
          .card
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src="img/bg6.jpg", alt="")
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Card Title
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, reiciendis.
            .card-reveal
              span.card-title.activator.grey-text.text-darken-4 Card Title
                i.material-icons.right close
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod corporis alias expedita quos magnam eius ab rem reprehenderit, voluptatum quibusdam.
          .card
            .card-image.waves-effect.waves-block.waves-light
              img.activator(src="img/bg6.jpg", alt="")
            .card-content
              span.card-title.activator.grey-text.text-darken-4 Card Title
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, reiciendis.
            .card-reveal
              span.card-title.activator.grey-text.text-darken-4 Card Title
                i.material-icons.right close
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod corporis alias expedita quos magnam eius ab rem reprehenderit, voluptatum quibusdam.
