//- entend the basic.jade as template
extends ../general/basic

//- override variables from config.jade
append config
  - var pageTitle = "Phrozen"
  - var metaDesc = "index" 


block mainContent
  main#index
    hgroup
      h1 index
      h2 wer