//- entend the basic.jade as template
extends ../general/basic

//- override variables from config.jade
append config
  - var pageTitle = "Phrozen"
  - var metaDesc = "index" 


block mainContent
  article#index
    article.view-1
      hgroup
        h1 Phrozen Index Page
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, omnis.
    article.view-2
      section.outer-container
        section.item
          figure.item-image-wrapper
            img(src="img/bg1.jpg", alt="")
            figcaption
              section.desc
                h5 item1
                p  Lorem ipsum dolor sit amet.
        section.item
          figure.item-image-wrapper
            figcaption
              section.desc
                h5 item1
                p  Lorem ipsum dolor sit amet.
            img(src="img/bg4.jpg", alt="")
        section.item
          figure.item-image-wrapper
            img(src="img/bg3.jpg", alt="")
            figcaption
              section.desc
                h5 item1
                p  Lorem ipsum dolor sit amet.