//- entend the basic.jade as template
extends general/basic

//- override variables from config.jade
append config
  - var pageTitle = "Phrozen"
  - var metaDesc = "Phrozen, a 3D Printer startup" 


//- block mainContent
//-   main
//-     h1 test
