//- include variables in config.jade and make it as a block to be overrided in index.jade
block config
  include config

doctype
html
  head
    include ../include/head-meta.jade
    include ../include/head-style.jade
  body
    include ../include/header
    block mainContent
        main
            h1 main content
    include ../include/sidebar
    include ../include/footer
    include ../include/head-script.jade
    
