//- variable for title
- var pageTitle = "replace this with your title"

//- variable for meta tag description
- var metaDesc = "replace this with your website description"

//- switcher for jQuery
- var jQuery = true

//- switcher for semantic-ui
- var semantic = false

//- switcher for throttle
- var throttle = false

//- switcher for throttle
- var jquery_ui = false

//- switcher for skel
- var skel = false

//- switcher for owl
- var owl = false

//- switcher for scrolly
- var scrolly = false

//- switcher for scrollex
- var scrollex = false

//- switcher for jquery_knob
- var jquery_knob = false

//- switcher for jquery_knob

- var circle_progress = false

//- switcher for github.js
- var githubjs = false

- var circle_progress = false

//- switcher for github.js
- var githubjs = false

//- switcher for materialize
- var materialize = true

//- switcher for typed.js
- var typed = false

//- switcher for textillate.js
- var textillate = true

//- switcher for flip.js
- var flip = true


