footer
  article.outer-container
    section.footer-info
      form.eamil-form
        .input-field
          input#email.validate(type='email')
          |           
          label(for='email', data-error='wrong', data-success='right') Email
      ul.footer-link-wrapper
        li
          a(href="home.html") home
        li
          a(href="gallery.html") gallery
        li
          a(href="about.html") about
        li
          a(href="support.html") support
    section.footer-social-wrapper
      ul.footer-social-links
        li
          a(href="home.html")
            i.material-icons.medium query_builder
        li
          a(href="gallery.html")
            i.material-icons.medium query_builder
        li
          a(href="about.html")
            i.material-icons.medium query_builder
        li
          a(href="support.html")
            i.material-icons.medium query_builder
    section.footer-copyright
      p © 2014 Copyright Text 