if jQuery
    script(type="application/javascript", src="assets/lib/js/jquery.js")

if jquery_ui
    script(type="application/javascript", src="assets/lib/js/jquery-ui.min.js")
  
if materialize
    script(type="application/javascript", src="assets/lib/js/materialize.js")

if semantic
    script(type="application/javascript", src="assets/lib/js/semantic.js")

if owl
    script(type="application/javascript", src="assets/lib/js/owl.carousel.min.js")

if scrolly
    script(type="application/javascript", src="assets/lib/js/jquery.scrolly.js")

if scrollex
    script(type="application/javascript", src="assets/lib/js/jquery.scrollex.js")

if throttle
    script(type="application/javascript", src="assets/lib/js/jquery.ba-throttle-debounce.min.js")

if jquery_knob
    script(type="application/javascript", src="assets/lib/js/jquery.knob.js")

if circle_progress
    script(type="application/javascript", src="assets/lib/js/circle-progress.js")

if githubjs
    script(type="application/javascript", src="assets/lib/js/underscore.js")
    script(type="application/javascript", src="assets/lib/js/github.min.js")

if typed
    script(type="application/javascript", src="assets/lib/js/typed.min.js")

if textillate
    script(type="application/javascript", src="assets/lib/js/jquery.lettering.js")
    script(type="application/javascript", src="assets/lib/js/jquery.textillate.js")


script(type="application/javascript", src="js/basic.js")
