if semantic
    link(rel="stylesheet", href="assets/lib/css/semantic.css")

if owl
    link(rel="stylesheet", href="assets/lib/css/owl.carousel.min.css")
    link(rel="stylesheet", href="assets/lib/css/owl.theme.default.css")

if githubjs
    link(rel="stylesheet", href="assets/lib/css/github.min.css")

if textillate
    link(rel="stylesheet", href="assets/lib/css/animate.css")

link(rel="stylesheet", type="text/css", href="https://fonts.googleapis.com/icon?family=Material+Icons")

link(rel="stylesheet", type="text/css", href="css/application.css")




  
